<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kazim.homeworkanimalfinder">
    <!-- for TTS service -->
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mainicon"
        android:label="Kazim's Animal Finder"
        android:roundIcon="@mipmap/mainicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeworkAnimalFinder">
        <activity android:name=".Settings"></activity>
        <activity android:name=".howToPlay" />
        <activity android:name=".WrongAnswer" />
        <activity android:name=".Level5" />
        <activity android:name=".Level4" />
        <activity android:name=".Level3" />
        <activity android:name=".CorrectAnswer" />
        <activity android:name=".Level2" />
        <activity android:name=".Level1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>